@import "colors";

.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;

  &.nav-black {
    background-color: $primary-black;
  }

  & .nav-content {
    display: flex;
    justify-content: space-around;

    // & .netflix-logo {
    //   height: 3rem;
    //   position: fixed;
    //   left: 0;
    //   object-fit: contain;
    //   padding-left: 20px;
    //   cursor: pointer;
    // }

    & .netflix-logo {
      height: 3rem;
      position: fixed;
      left: 0;
      object-fit: contain;
      padding-left: 20px;
      padding-top: 10px;
      cursor: pointer;
      color: $primary-red;
      font-size: 1.5rem;
      font-weight: 800;
    }

    & .menuIcon {
      height: 2rem;
      margin-top: 14px;
      border-radius: 5px;
      position: fixed;
      right: 115px;
      object-fit: contain;
      cursor: pointer;
      color: $primary-white;
      display: none;
      @media screen and (max-width: 600px) {
        display: inline-block;
      }
    }

    & .movie-nav-link {
      height: 2rem;
      margin-top: 14px;
      border-radius: 5px;
      position: fixed;
      right: 235px;
      object-fit: contain;
      cursor: pointer;
      color: $primary-white;
      font-size: 0.9rem;

      &:hover {
        color: $primary-red;
      }

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    & .tv-nav-link {
      height: 2rem;
      margin-top: 14px;
      border-radius: 5px;
      position: fixed;
      right: 155px;
      object-fit: contain;
      cursor: pointer;
      color: $primary-white;
      font-size: 0.9rem;

      &:hover {
        color: $primary-red;
      }

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    & .userLogo {
      height: 2rem;
      margin-top: 10px;
      border-radius: 5px;
      position: fixed;
      right: 20px;
      object-fit: contain;
      cursor: pointer;
    }

    & .nav-search {
      height: 2rem;
      margin-top: 10px;
      border-radius: 5px;
      position: fixed;
      right: 70px;
      object-fit: contain;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      color: $primary-white;
      display: flex;
      align-items: center;
      justify-content: center;
      & > p {
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      &:hover {
        color: $primary-red;
      }
    }

    & .nav-signin {
      height: 2rem;
      margin-top: 10px;
      border-radius: 5px;
      position: fixed;
      right: 20px;
      object-fit: contain;
      cursor: pointer;
      border: none;
      padding: 10px 20px;
      background-color: $primary-red;
      color: $primary-white;
    }

    & .nav-signin:hover {
      background-color: $primary-white;
      color: $primary-red;
    }
  }
}
