@import "./colors";

.profile-pop-up-container {
  position: absolute;
  right: 20px;
  top: 60px;
  background-color: rgb(31, 31, 31);
  color: $primary-white;
  padding: 20px 30px;
  border-radius: 5px;
  height: 85px;

  & .profile-menu-item {
    padding: 10px 0;
    transition: all ease-in 0.5s;
    cursor: pointer;
  }

  & > a {
    color: $primary-white;
    text-decoration: none;
  }

  & .profile-menu-item:hover {
    border-bottom: 1px solid $primary-red;
  }
}
